NODE_ENV=development


# Postgres
DATABASE_URL=postgresql://postgres.xrumaelikizavhsexvez:kcr3EVm4KBJ4O1SZ@aws-1-eu-central-1.pooler.supabase.com:5432/postgres
# Polymarket
GAMMA_BASE_URL=https://gamma-api.polymarket.com
CLOB_BASE_URL=https://clob.polymarket.com


POLY_API_KEY=
POLY_PASSPHRASE=
POLY_SIGNATURE_SECRET=
POLY_ADDRESS=

EXECUTOR_PRIVATE_KEY=

RPC_URL=https://polygon-mainnet.g.alchemy.com/v2/JXnNcPrnCRmUf5QVYAfGW
VAULT_SYNC_INTERVAL_MS=300000
VAULT_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000001

CLUB_VAULT_FACTORY_ADDRESS=0x9D4415E9a8F7965EaB089ef0Ca096762cE789d56

REDIS_URL=
QUEUE_CONCURRENCY=1

MISSED_EXECUTION_GRACE_MINUTES=15
PORT=3001
CHILIZ_WRAPPED_SHARE_ADDRESS=0xd1f873ee848Bf601Ec4070f3bDf6B1A5C70744a9
CHILIZ_DEPOSIT_RECEIVER_ADDRESS=0x04b1B0B86BbCB886FcbAA657deFE72ED394fD5bb

ADMIN_API_KEY=mysecretadminkey123
CHILIZ_EXECUTOR_PRIVATE_KEY=
CHILIZ_RPC_URL=https://spicy-rpc.chiliz.com

